# sports analysis

In [3]:
import pandas as pd 
import numpy as np 
import matplotlib as plt 
import seaborn as sn
import duckdb as db

In [9]:
city_clean_df = pd.read_csv(r"C:\Hanish\sports-analysis\processed data\city_clean.csv")
event_clean_df = pd.read_csv(r"C:\Hanish\sports-analysis\processed data\event_clean.csv")

In [10]:
connection = db.connect()
connection.register( 'city', city_clean_df)
connection.register( 'event', event_clean_df)

In [8]:
query = """select*from city 
           limit 5
"""
city_df = connection.execute(query).df()
city_df

   id  city_name
0   1  Barcelona
1   2     London
2   3  Antwerpen
3   4      Paris
4   5    Calgary